<!DOCTYPE html>
<html lang="en" class="min-w-80 text-gray-900 dark:text-white">
  <%- include('../partials/head') %>
  <body class="flex min-h-screen flex-col bg-white dark:bg-gray-800">
    <%- include('../partials/nav') %>

    <!-- Main content container -->
    <div class="flex flex-1 flex-col">
      <%- include('../partials/sidebar') %>
      <main class="mt-[64px] flex min-h-0 flex-1 p-4 sm:ml-56 lg:ml-64">
        <%- include(`../pages/${page}`) %>
      </main>
    </div>

    <script src="/js/darkModeToggle.js"></script>
    <!--prettier-ignore-->

    <% if (page === 'profile/edit') { %>
    <script src="/js/adminCheck.js"></script>
    <% } %>

    <!--prettier-ignore-->
    <% if (page === 'posts/all') { %>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="/js/masonry.js"></script>
    <% } %>

    <!--prettier-ignore-->
    <% if (page === 'profile/view') { %>
    <script src="/js/profileButtonToggle.js" defer></script>
    <% } %>

    <!--prettier-ignore-->
    <% if (page === 'profile/view' 
            && typeof user.info.username !== 'undefined' 
            && typeof currentUser !== 'undefined' 
            && user.info.username === currentUser.username) { %>
      <%- include('../components/modal', { modalId: 'edit-profile-modal', modalTitle: 'Edit user profile', bodyPath: '../forms/editProfile' }) %>
    <script src="/js/adminCheck.js" defer></script>
    <% } %>

    <!--prettier-ignore-->
    <% if (currentUser) { %>
    <%- include('../components/modal', {modalId: 'confirm-modal', modalTitle: 'Heads up, Jace!', bodyPath: '../forms/confirm'}) %>
    <script src="/js/populateConfirmModal.js" defer></script>
    <% } %>
  </body>
</html>
