<div class="flex w-full flex-col gap-6 xl:min-h-0 xl:gap-8 xl:overflow-hidden">
  <!--prettier-ignore-->
  <%- include('../../components/userInfoProfile', {user: user.info}) %>
  <div class="flex justify-center xl:hidden">
    <%- include('../../components/buttonGroup', {labels: ['Posts', 'Comments']})
    %>
  </div>
  <div
    class="xl:flex xl:h-[calc(100vh_-_96px)] xl:min-h-0 xl:gap-8 xl:overflow-hidden xl:px-3 xl:pb-3"
  >
    <div id="posts" class="xl:flex xl:min-h-0 xl:flex-1 xl:flex-col">
      <h3
        class="hidden xl:mb-4 xl:block xl:self-center xl:text-xl xl:font-semibold"
      >
        Posts
      </h3>
      <hr
        class="hidden xl:block xl:h-px xl:border-0 xl:bg-gray-300 xl:dark:bg-gray-600"
      />

      <!--prettier-ignore-->
      <% if (user.posts.length > 0) { %>
      <div
        class="flex flex-col gap-2 xl:-mx-3 xl:-mb-3 xl:overflow-y-scroll xl:px-3 xl:pt-4 xl:pb-3"
      >
        <!--prettier-ignore-->
        <% user.posts.forEach(post => { %> 
          <%- include('../../components/postCardProfile', {post}) %> 
        <% }); %>
      </div>
      <% } else { %>
      <div class="flex items-start justify-center xl:flex-1">
        <p class="px-2 py-4 text-center xl:py-6">No posts to show.</p>
      </div>
      <% } %>
    </div>
    <div id="comments" class="hidden xl:flex xl:min-h-0 xl:flex-1 xl:flex-col">
      <h3
        class="hidden xl:mb-4 xl:block xl:self-center xl:text-xl xl:font-semibold"
      >
        Comments
      </h3>
      <hr
        class="hidden xl:block xl:h-px xl:border-0 xl:bg-gray-300 xl:dark:bg-gray-600"
      />
      <!--prettier-ignore-->
      <% if (user.comments.length > 0) { %>
      <div
        class="flex flex-col gap-2 xl:-mx-3 xl:-mb-3 xl:overflow-y-scroll xl:px-3 xl:pt-4 xl:pb-3"
      >
        <!--prettier-ignore-->
        <% user.comments.forEach(comment => { %> 
          <%- include('../../components/commentCardProfile', {comment}) %> 
        <% }); %>
      </div>
      <% } else { %>
      <div class="flex items-start justify-center xl:flex-1">
        <p class="px-2 py-4 text-center xl:py-6">No comments to show.</p>
      </div>
      <% } %>
    </div>
  </div>
  <!--prettier-ignore-->
  <% if (user.info.username === currentUser.username) { %>
    <%- include('../../components/modal', { modalId: 'edit-profile-modal', modalTitle: 'Edit user profile', bodyPath: '../forms/editProfile' }) %>
  <% } %>
  <% if (user.info.username === currentUser.username && showEditProfileModal) { %>
  <script src="/js/showEditProfileModalCheck.js"></script>
  <% } %>
</div>
