<form
  action="/auth/register/profile"
  method="post"
  enctype="multipart/form-data"
  class="flex flex-col gap-4"
>
  <!--prettier-ignore-->
  <%- include('../components/formErrors') %>
  <%- include('../components/formFileInput', {id: 'pic', required: false}) %>
  <%- include('../components/formTextarea', {id: 'bio', label: 'Bio', value: formData.bio, rows: 6, maxLength: 250, required: false, styleReqired: false}) %>
  <%- include('../components/formInput', {type: 'text', id: 'loc', label: 'Location', value: formData.loc, maxLength: 30, required: false, styleReqired: false}) %>
  <%- include('../components/formInput', {type: 'date', id: 'birthday', label: 'Birthday', value: formData.birthday, required: false, styleReqired: false}) %>
  <%- include('../components/button', {type: 'submit', label: 'Save'}) %>
  <div class="self-center">
    <!-- prettier-ignore -->
    <%- include('../components/basicLink', {href: '/', label: 'Skip'}) %>
  </div>
</form>
